
.flex-maindiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
     background-color:white;
     border-bottom-width: 1px;
     border-bottom-style: solid;
     border-bottom-color: rgb(209, 209, 209);  
       z-index: 100;
}
.left-sec{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 23px;
    margin-left: 24px;
    margin-right: 20px;
}
.middle-sec{
    display: flex;
    
    margin-left: 70px;
    margin-right: 35px;
    max-width: 650px;
    flex: 1;
    justify-content:right; 
     align-items: center;
}
.search-bar{
    flex: 1;
    height:34px;
    font-size: 16px;
    padding-left: 10px;
    border-style: solid;
    width: 0;
    border-color:rgb(161, 161, 161) ;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 2px rgb(0,0,0,0.05);
}
.search-bar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
    
}
.search-button{
    height: 37px;
    width: 60px;
    margin-left: -1px;
    margin-right: 8px ;
    background-color: rgb(248,248,248);
    border-style: solid;
    border-color:rgb(161, 161, 161) ;
    border-width: 1px;
    border-radius: 2px;
    position: relative;
}
.search-button .tool-tip,
.voice-button .tool-tip{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30;
     opacity: 0;
     transition: opacity 0.15s;
     pointer-events: none;
}

.search-button:hover .tool-tip,
.voice-button:hover .tool-tip{
   opacity: 1;
}
.search-button-image{
    height: 25px;
    margin-top: 4px;
}

.voice-button{
    height: 40px;
    width: 40px;
    background-color: none; 
    border-style: solid;
    border-radius: 20px;
    border:none;
}
.voice-button-image{
    height: 25px;
    margin-top: 4px;
}
.right-sec{
    display: flex;
    width: 200px;
    flex-shrink: 0;
    margin-right: 24px;
    justify-content:space-between; 
    align-items: center; 
    
}

.upload{
    height: 25px;
    
}

.apps{
    height: 25px;
}

.notification{
    height: 25px;
}
.profile-img{
    height: 36px;
    border-radius: 18px;
}

.vertical-box{
    position: fixed;
    top:55px;
    bottom: 0;
    left:0;
    width:72px;
    z-index: 200;
   background-color: white;
}

.divisions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 74px;
    
}
.divisions:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}
.divisions img{
    height:28px;
    display: flex;
    margin-bottom: 4px;
}

.divisions div{
    font-family: Roboto;
    font-size: 12px;

}

/* .home{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-bottom: 1px;
    position: relative;
     display: block;
    height:28px ;
    width: 28px;
}

.explore{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-bottom: 1px;
    position: relative;
    display: block;
    height:28px ;
    width: 28px;
}
.videocam{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-bottom: 1px;
    position: relative;
    display: block;
    height:28px ;
    width: 28px;
}

.subscriptions{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-bottom: 1px;
    display: block;
    height:28px ;
    width: 28px;
}

.addLibrary{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-bottom: 1px;
    display: block;
    height:28px ;
    width: 28px;
} */